body {
    margin: 0;
}

.header {
    background-color: #37cff1;
    display: flex;
}

h2 {
    color: white;
}

.inputBar {
    border: 1px solid #ced4da;
    background-color: #efefef;
    width: 480px;
    margin: 10px;
    display: flex;
}

#str {
    width: 380px;
    height: 30px;
    font-size: 20px;
    margin: 5px;
}

#btn {
    width: 75px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

h3 {
    background-color: #37cff1;
    margin: 0;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 5px;
}

.list {
    background-color: #efefef;
    margin: 10px;
    height: 100%;
    width: 480px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    text-align: left;
}

#btn:hover {
    background-color: grey;
  }
  
#btn:active {
color: white;
background-color: black;
}